<div class="deckbuilder-main" [class.small-screen]="isSmallScreen">
  <div
    class="db-cardlist"
    [ngClass]="{
      'db-cardlist-mobile': isSmallScreen,
      active: isCardListActive
    }"
  >
    <app-booster-list-deckbuilder
      [isSmallScreen]="isSmallScreen"
      (onCardListActive)="handleCardlistActive($event)"
    ></app-booster-list-deckbuilder>
  </div>
  <div
    [ngClass]="{
      overlay: isOverLayActive || isDeckLoadSelect || isDeckcoverSelect || isCardListActive
    }"
    (click)="openModal(false)"
  ></div>
  @if(isSmallScreen){
  <div class="open-cardlist" (click)="openCardList(true)">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </div>
  }
  <div
    class="db-cardbuild"
    [ngClass]="{ 'db-cardbuild-mobile': isSmallScreen }"
  >
    <app-deckbuilder-actions
      (onDeckcoverSelect)="isDeckCoverClicked(true)"
      (onDeckloadSelect)="isDeckLoadClicked(true)"
      [tcg]="tcg"
      [imageSrc]="deckcover"
      [deckname]="deckname"
      [deckuid]="deckuid"
      [isSmallScreen]="isSmallScreen"
    ></app-deckbuilder-actions>
    <app-card-in-deck></app-card-in-deck>
    <div
      [ngClass]="{
        deckcovermodal: !isSmallScreen,
        'deckcovermodel-mobile': isSmallScreen,
        modalActive: isDeckcoverSelect
      }"
    >
      <app-deckcover-select
        (onCloseSelector)="isDeckCoverClicked(false)"
        (onDeckCoverSelect)="deckCoverUrl($event)"
      ></app-deckcover-select>
    </div>
    <div
      [ngClass]="{
        'deckloadmodal': !isSmallScreen,
        'deckloadmodel-mobile': isSmallScreen,
        'modalActive': isDeckLoadSelect,
      }"
    >
      <app-deckload-select
        [tcg]="tcg"
        [userId]="user.userId"
        [isSmallScreen]="isSmallScreen"
        (selectedDeck)="isDeckSelected($event)"
        (onCloseSelector)="isDeckLoadClicked(false)"
      >
      </app-deckload-select>
    </div>
  </div>
</div>
