@if (isSmallScreen) {
<div class="buffer" (click)="onClickOutside()"></div>
}

<div [ngClass]="{ 'db-cardlist-mobile': isSmallScreen }">
  @if (tcgPath != TCGTYPE.UNIONARENA) {
  <div class="tab-container">
    <button
      class="tab-button"
      [class.active]="activeTab === 'expansion'"
      (click)="setActiveTab('expansion')"
    >
      Expansions
    </button>
      @if (tcgPath== "onepiece") {
  <button
    class="tab-button"
    [class.active]="activeTab === 'extra'"
    (click)="setActiveTab('extra')"
  >
    Extra Sets
  </button>
  }
    <button
      class="tab-button"
      [class.active]="activeTab === 'deck'"
      (click)="setActiveTab('deck')"
    >
      Decks
    </button>
  </div>
  } @if (showBoosterList) {
  <div class="booster-list">
    @switch (tcgPath) { @case(TCGTYPE.HOLOLIVE) { @for (booster of boosterList;
    track $index) {
    <ng-container>
      <div>
        <img
          [src]="booster.imageSrc"
          (click)="onBoosterClick(booster.pathname)"
          width="110px"
        />
      </div>
    </ng-container>
    } } @case(TCGTYPE.DUELMASTERS) { @for (dm of filteredList; track
    $index) {
    <ng-container>
      <div>
        <img
          [src]="dm.urlimage"
          (click)="onBoosterClick(dm.booster)"
          width="110px"
        />
      </div>
    </ng-container>
    } } 
    @case(TCGTYPE.UNIONARENA) { @for (booster of boosterList; track $index) {
      <div class="booster-item" (click)="onBoosterClick(booster.pathname)">
        <img
          [src]="booster.imageSrc"
          alt="{{ booster.alt }}"
          [style.width.px]="booster.imgWidth"
        />
      </div>
      } }
    @default { @for (booster of filteredList; track $index) {
    <div class="booster-item" (click)="onBoosterClick(booster.pathname)">
      <img
        [src]="booster.imageSrc"
        alt="{{ booster.alt }}"
        [style.width.px]="booster.imgWidth"
      />
    </div>
    } } }
  </div>
  } @if (!showBoosterList && cardList.length > 0) {
  <div class="card-list">
    <div class="action-bar">
      <div class="action-bar-1">
        <!-- Color Filter -->
        <div>
          <select
            id="color"
            [(ngModel)]="selectedColor"
            (ngModelChange)="filterCards()"
          >
            <option value="">Color</option>
            @for (color of colors; track $index) {
            <option [value]="color">
              {{ color }}
            </option>
            }
          </select>
        </div>

        <!-- Booster or Category Filter -->
        <div>
          <select
            id="boosterOrCategory"
            [(ngModel)]="selectedBooster"
            (ngModelChange)="filterCards()"
          >
            <option value="">
              {{ tcgPath === "onepiece" ? "Category" : "Booster" }}
            </option>
            @for (option of boosters; track $index) {
            <option [value]="option">
              {{ option }}
            </option>
            }
          </select>
        </div>

        <!-- Rarity Filter -->
        <div>
          <select
            id="rarity"
            [(ngModel)]="selectedRarity"
            (ngModelChange)="filterCards()"
          >
            <option value="">Rarity</option>
            @for (rarity of rarities; track $index) {
            <option [value]="rarity">
              {{ rarity }}
            </option>
            }
          </select>
        </div>
      </div>
      <div class="action-bar-2">
        <button (click)="onResetFilters()">Reset</button>
        <button (click)="onBackClick()">Back to Booster List</button>
      </div>
    </div>
    <div class="card-list-display">
      @for (card of filteredCards; track card.cardUid) {
      <div class="card-item">
        <app-tcg-image [card]="card"></app-tcg-image>
        <div class="counter-container">
          <button
            (click)="removeFromDeck(card)"
            [disabled]="isRemoveDisabled(card)"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="remove_circle"
            ></mat-icon>
          </button>
          <span>{{ getCardCount(card) }}</span>
          <button (click)="addToDeck(card)">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="add_circle"
            ></mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
