@if (tcgPath != TCGTYPE.UNIONARENA) {
<div class="tab-container">
  <button
    class="tab-button"
    [class.active]="activeTab === 'expansion'"
    (click)="setActiveTab('expansion')"
  >
    Expansions
  </button>
  @if (tcgPath== "onepiece") {
  <button
    class="tab-button"
    [class.active]="activeTab === 'extra'"
    (click)="setActiveTab('extra')"
  >
    Extra Sets
  </button>
  }
  <button
    class="tab-button"
    [class.active]="activeTab === 'deck'"
    (click)="setActiveTab('deck')"
  >
    Starter Decks
  </button>
</div>
}
<div class="booster-list">
  @switch (tcgPath) { @case (TCGTYPE.DUELMASTERS) { @for (dm of filteredList;
  track $index) {
  <div>
    <img
      [src]="dm.urlimage"
      (click)="onBoosterClick(dm.booster)"
      width="110px"
    />
  </div>
  } } @case (TCGTYPE.PKMNPOCKET) { @for (booster of boosterList; track $index) {
  <div>
    <img
      [src]="booster.imageSrc"
      (click)="onBoosterClick(booster.pathname)"
      width="110px"
    />
  </div>
  } } @case (TCGTYPE.HOLOLIVE) { @for (booster of boosterList; track $index) {
  <div>
    <img
      [src]="booster.imageSrc"
      (click)="onBoosterClick(booster.pathname)"
      width="120px"
    />
  </div>
  } } @case (TCGTYPE.UNIONARENA) { @for (booster of boosterList; track $index) {
  <div class="booster-item">
    <img
      [src]="booster.imageSrc"
      [alt]="booster.alt"
      [width]="booster.imgWidth"
      (click)="onBoosterClick(booster.pathname)"
    />
  </div>
  } } @default { @for (booster of filteredList; track $index) {
  <div class="booster-item">
    <img
      [src]="booster.imageSrc"
      [alt]="booster.alt"
      [width]="booster.imgWidth"
      (click)="onBoosterClick(booster.pathname)"
    />
  </div>
  } } }
</div>
