/* Booster list container */
.booster-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: calc(100vh - 109px); /* Adjust this to the desired height */
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 16px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #666 #333; /* Firefox */
}

/* Styling the scrollbar for WebKit-based browsers (Chrome, Safari) */
.booster-list::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Scrollbar track */
.booster-list::-webkit-scrollbar-track {
  background: #333; /* Dark track color */
  border-radius: 10px;
}

/* Scrollbar thumb */
.booster-list::-webkit-scrollbar-thumb {
  background: #666; /* Light dark color for the thumb */
  border-radius: 10px;
  border: 3px solid #333; /* Optional border to make it pop */
}

/* Hover state for the scrollbar thumb */
.booster-list::-webkit-scrollbar-thumb:hover {
  background: #999; /* Lighter color on hover */
}

/* Optional: Scrollbar corner (where two scrollbars meet) */
.booster-list::-webkit-scrollbar-corner {
  background: #333; /* Corner color */
}

/* Booster item styling */
.booster-item {
  text-align: center;
  width: 250px;
}

.booster-item img {
  width: inherit;
  border-radius: 20px;
}

.booster-item p {
  color: #f2f3f8;
}

/* Responsive adjustments */
@media (max-width: 599px) {
  .booster-item {
    width: 125px;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .booster-item {
    width: 150px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .booster-item {
    width: 200px;
  }
}

.booster-item button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.booster-item button:hover {
  background-color: #e0e0e0;
}

.booster-item button:active {
  background-color: #d0d0d0;
}
