<div class="booster-list">
  @if (tcgPath !== 'duelmasters' && tcgPath !== 'ptcgpocket') { @for (booster of boosterList; track $index)
  {
    <div class="booster-item">
      <img
        [src]="booster.imageSrc"
        [alt]="booster.alt"
        [width]="booster.imgWidth"
        (click)="onBoosterClick(booster.pathname)"
      />
    </div>
  }}
  @if (tcgPath === 'duelmasters') { 
    @for (dm of duelmasterlist; track $index) {
        <div>
          <img
            [src]="dm.urlimage"
            (click)="onBoosterClick(dm.booster)"
            width="110px"
          />
        </div>
    }
  }
  @if (tcgPath === 'ptcgpocket') { 
    @for (booster of boosterList; track $index) {
        <div>
          <img
            [src]="booster.imageSrc"
            (click)="onBoosterClick(booster.pathname)"
            width="110px"
          />
        </div>
    }
  }
</div>
