@if (cardsInDeck$ | async; as cardsInDeck) {
<div class="card-list-display">
  @for (cardData of cardsInDeck; track cardData.card.cardUid) {
  <div class="card-item">
    <app-tcg-image [card]="cardData.card"></app-tcg-image>
    <div class="counter-container">
      <button (click)="removeFromDeck(cardData.card)">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="remove_circle"
        ></mat-icon>
      </button>
      <p>{{ cardData.count }}</p>
      <button (click)="addToDeck(cardData.card)">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="add_circle"
        ></mat-icon>
      </button>
    </div>
  </div>
  }
</div>
}
