.counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height:30px;
}

.counter-container button {
  border: none;
  background-color: #ffffff00;
  color: #a6a6d4;
  font-size: 18px;
  padding:0px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.counter-container button:hover {
color: #7272a3;
}

.counter-container div {
  font-size: 18px;
  font-weight: bold;
  width: 30px;
  text-align: center;
}
.card-list-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  height: calc(100vh - 266px);
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:50px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #666 #333; /* Firefox */
}

.card-item {
  text-align: center;
  flex: 0 0 auto;
  cursor: pointer;
  margin: 0; /* Ensure no extra margin */
  padding: 0; /* Ensure no extra padding */
  overflow: hidden;
  width:var(--card-width)
}

.card-item p {
  color: #f2f3f8;
}

@media (max-width:599px) {
    .card-list-display{
      height: calc(100vh - 345px);
      padding-bottom: 129px;
    }
}
