<div class="cardlistpage">
  <div class="action-bar">
    <div>
      <select id="color" [(ngModel)]="selectedColor" (ngModelChange)="filterCards()">
        <option value="">Color</option>
        @for (color of colors; track $index) {
        <option [value]="color">{{ color }}</option>
        }
      </select>
    </div>
    <div>
      <select
        id="boosterOrCategory"
        [(ngModel)]="selectedBooster"
        (ngModelChange)="filterCards()"
      >
        <option value="">
          {{ tcgPath === "onepiece" ? "Category" : "Booster" }}
        </option>
        @for (option of boosters; track $index) {
        <option [value]="option">
          {{ option }}
        </option>
        }
      </select>
    </div>
    <div>
      <select id="rarity" [(ngModel)]="selectedRarity" (ngModelChange)="filterCards()">
        <option value="">Rarity</option>
        @for (rarity of rarities; track $index) {
        <option [value]="rarity">
          {{ rarity }}
        </option>
        }
      </select>
    </div>
    <div class="reset-btn" (click)="resetFilter()">X</div>
  </div>
  <div class="card-list" #cardListContainer>
    @for (card of filteredCards; track card.cardUid) {
      <app-tcg-image [card]="card"></app-tcg-image>
    }
  </div>
</div>
