<div class="homepage">
  <app-search-bar (onSearchValue)="handleSearchValue($event)"></app-search-bar>
  @if(!searchValue){
  <div #tcgList class="tcg-list">
    @for (tcg of tcglist; track $index) {
    <div class="tcg-item" [routerLink]="tcg.path" routerLinkActive="active">
      <img [src]="tcg.img" [alt]="tcg.alt" />
    </div>
    }
  </div>}
  @else{
  <div class="search-results">
    @for (item of cardList; track $index) {
    <app-tcg-image [card]="item"></app-tcg-image>
    }
  </div>
  }
</div>
