.nav-tab {
    height:calc(100vh - 78.5px);
    background-color: #26252d;
    color:aliceblue;
    width:140px;
    padding-top:10px;
    display:flex;
    flex-direction: column;
    align-items: left;
}
.nav-tab-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}
.nav-tab-icon img {
    flex: 0 0 auto;
    margin: 10px;
    width:30px;
}

.nav-tab-icon p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

@media (max-width:959px){
    .nav-tab{
        width:80px;
        align-items: center;
    }

    .nav-tab-icon img {
        flex: 0 0 auto;
        margin: 10px;
        width:35px;
    }

    .nav-tab-icon p {
        display: none;
    }
}
  