@if(decksOfUser.length == 0){
<div class="message">No decks created</div>
} @else {
<div [ngClass]="{ 'card-select-list': !isSmallScreen, mobile: isSmallScreen }">
  <div [ngClass]="{ 'mobile-flex': isSmallScreen, 'grid-row': !isSmallScreen }">
    @for (deckdata of decksOfUser; track $index) {
    <div
      class="card-item"
      (click)="
        onClickDeck(
          deckdata
        )
      "
    >
      <div class="card-item-holder">
          <img  class="card-item-cover" id="cover-img" src="/images/deckcovertemplate.png" />
        <div class="card-item-function">
          <mat-icon (click)="shareDeck()">share</mat-icon>
          <mat-icon (click)="deleteDeck(deckdata.deckuid, $event)">delete</mat-icon>
        </div>
        <img [src]="deckdata.deckcover" />
      </div>
      <div class="deckname">{{ deckdata.deckname }}</div>
    </div>
    }
  </div>
</div>
}
