<div class="options-selector"> 
  <div class="custom-select" (click)="handleSelectTcg()">
    <div class="selected-option">
      <img [src]="selectedTcg.icon" [alt]="selectedTcg.label" />
      <span>{{ selectedTcg.label }}</span>
    </div>
    @if (dropdownOpen) {
    <div class="dropdown-options">
      @for (item of selectTcg; track $index) {
      <div
        class="option"
        (click)="selectTcgOption(item,$event)"
      >
        <img [src]="item.icon" [alt]="item.label" />
        <span>{{ item.label }}</span>
      </div>
    }
    </div>
  }
  </div>
  <div class="search-deck">
    <input
      type="text"
      placeholder="Search Deck"
      [(ngModel)]="deckSearchQuery"
      (input)="searchDeck()"
    />
  </div>
</div>
<br/>
<div class="decks-holder">
  @if (filteredDecks && filteredDecks.length > 0) { @for (item of filteredDecks; let i = $index; track
  item.deckuid) {
  <div class="deck-item" (click)="selectDeck(i)">
    <img class="cover" src="/images/deckcovertemplate.png" />
    <img class="cover-dp" [src]="item.deckcover" />
    @if (selectedDeckIndex === i) {
    <div class="deckSelected"><code>Selected</code></div>
    }
    <div class="deck-name">
      {{item.deckname}}
    </div>
  </div>
  }} @else {
  <div class="nodecks">No Decks found</div>
  }
</div>
<br/>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="selected-deckname">Deck Name: {{selectedDeck?.deckname}}</div>
  <input type="text" placeholder="Add a headline!" formControlName="headline" />
  <div class="line-sep"></div>
  <textarea
    placeholder="Pen down your thoughts..."
    formControlName="content"
  ></textarea>
  <div class="line-sep"></div>
  <div class="tabs">
    <input
      type="radio"
      id="casuals"
      name="isTournamentDeck"
      [value]="false"
      formControlName="isTournamentDeck"
      class="input"
      [checked]="form.value.gameType === false"
    />
    <label
      for="casuals"
      class="label"
      [ngClass]="{ highlight: form.value.isTournamentDeck === false }"
      >Casuals</label
    >
    <input
      type="radio"
      id="tournament"
      name="isTournamentDeck"
      [value]="true"
      formControlName="isTournamentDeck"
      class="input"
      [checked]="form.value.gameType === true"
    />
    <label
      for="tournament"
      class="label"
      [ngClass]="{ highlight: form.value.isTournamentDeck === true }"
      >Tournament</label
    >
  </div>
  <button type="submit">Submit</button>
</form>
