.detail-main{
  position: relative;
}

.detail-stack {
  position: fixed;
  top: 0;
  right: -100%;
  width: calc(100%);
  max-width: 600px;
  height: calc(100vh);
  background-color: #26262d;
  z-index: 100;
  transition: right 0.3s ease-in-out;
}
.sub-user-comment{
  display: flex;
  align-items: center;
  font-size: 12px;
  gap:9px;
  flex: 0 0 auto;
  color: #846797;
  padding-top:3px;
}
.detail-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 165px);
  overflow-y: auto;
}

.detail-header{
  display: flex;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.detail-user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-func{
  height:135px;
  width: calc(100% - 40px);
  border-top: 1px solid #465362;
  padding-top: 10px;
  padding-left:20px;
  padding-right: 20px;
}

.textcontent{
  padding:10px;
}
.detail-stack.slide-in {
  right: 0;
}

.detail-stack.slide-out {
  right: -100%;
}

.detail-card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  height: 350px;
  flex:0 0 auto;
  overflow-y: auto;
  gap: 5px;
  justify-content: center;
  align-content: flex-start;
  line-height: 0;
}
.single-card {
  position: relative;
  height: fit-content;
  flex:0 0 auto;
}

app-tcg-image{
  height: fit-content;
}

.count {
  align-items: center;
  background-color: black;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 90%;
  transform: translate(-50%, -50%);
  width: 20px;
}

h2 {
  text-align: center;
}

.user-blank {
  font-size: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  border: 4px solid #26262d;
}
.user-dp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #26262d;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-dp img {
  width: 100%;
}
h3{
  margin: 0px;
  padding: 20px 10px 10px 10px;
}
p{
  margin: 0px;
}

.func-comment {
  width: calc(100% - 20px);
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #1a1a1e;
  font-size: 16px;
  color: #465362;
  cursor: pointer;
}

.detail-func mat-icon {
  color: #465362;
  font-size:30px;
  width: 30px;
  height: 30px;
  transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.func-holder{
  position: relative;
  display: flex;
  padding-top: 15px;
  padding-right:7px;
  height:20px;
  flex-direction: row;
  gap:15px;
  justify-content: right;
  align-items: center;
}

.like-holder{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comment-holder{
  display:flex;
  flex-direction: row;
  gap:5px;
}
.user-comment{
  padding-top: 10px;
}
.timestamp{
  padding-left: 10px;
  padding-right: 10px;
  color:#b899f3;
}

.listofcomments{
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 10px;
  gap:5px;
  display: flex;
  flex-direction: column;
}
.liked {
  color: #d14a5b !important;
}

.posting-comment {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 102;
  bottom:0;
  right: 0%;
  width: 100%;
  max-width: 600px;
  height:180px;
  border-radius: 20px 20px 0px 0px;
  background-color: #2c2c33;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Adds a shadow */
  transition: transform 0.3s ease-in-out;
}

.posting-comment.slide-in{
  transform: translateY(0px);
}

.posting-comment.slide-out{
  transform: translateY(200px);
}
.posting-comment form{
  width: calc(100%);
  height: calc(100%);
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.posting-comment textarea {
  padding: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px ;
  border-radius: 10px;
  background-color: #1a1a1e;
  font-size: 16px;
  color: #f2f3f8;
  border: none;
  outline: none;
  display: block;
  box-sizing: border-box;
  height: 100px;
  flex:0 0 auto;
  transition: width 0.3s ease-in-out;
}

.widthWithText{
  width: calc(100% - 70px);
}

.widthWithoutText{
  width: calc(100% - 20px);
}

.posting-comment button {
  all: unset;
  width: 40px;
  height: 40px;
  background-color: #7c4fff;
  border-radius: 5px;
  transition: display 0.3s ease-in-out;
}

.btnWithText{
  display: inline-block;
}

.btnWithoutText{
  display: none;
}


.posting-comment mat-icon{
  width:40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posting-comment input::placeholder {
  color: #465362;
  opacity: 0.7;
}

.emoji-picker {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 7px;
}

.emoji-picker span {
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s;
}

.emoji-picker span:hover {
  transform: scale(1.2);
}
