<div class="logo">
  <app-logo width="30" height="45"></app-logo>
</div>
<div class="stacks-display">
  <div
    #scrollContainer
    class="content-select-slide"
    [ngClass]="{ 'content-slide-hide': !isSlideVisible }"
  >
    @for (item of listofcontent; track $index) {
    <div
      #contentItem
      [ngClass]="{ 'content-selected': selectedContent === item }"
      (click)="clickContent(item)"
    >
      {{ item }}
    </div>
    }
  </div>
  <div
    #stacksContent
    class="stacks-content"
  >
    <div class="content">
      <app-leftstack [userpost]="leftUserpost" [user]="user" (removeDeck)="onDeleteDataReceived($event)"></app-leftstack>
      <app-rightstack [userpost]="rightUserpost" [user]="user" (removeDeck)="onDeleteDataReceived($event)"></app-rightstack>
    </div>
    <app-loader [ngClass]="{loading:isLoading}"></app-loader>
    <div class="post-content" (click)="navigateToPostStacks()">
      <mat-icon >note_add</mat-icon>
  </div>
  </div>

</div>
