

.card-select-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #26252d;
    border-radius: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    height: 300px;
}
:root{
    --card-width: 125px;
}
@media (max-width: 599px) {
    :root{
        --card-width: 150px;
    }
  }
  
  @media (min-width: 600px) and (max-width: 959px) {
    :root{
        --card-width: 150px;
    }
  }
  
  @media (min-width: 960px) and (max-width: 1500px) {
    :root{
        --card-width: 150px;
    }
  }
  
  @media (min-width: 1501px) {
    :root{
        --card-width: 300px;
    }
    .card-select-list{
      height: 600px;

    }
  }

.flex-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    overflow-Y: auto;
}