<div class="search-container">
  <mat-icon class="search-icon">search</mat-icon>
  <input
    type="text"
    class="search-input"
    (keydown.enter)="onSearch($event)"
    [(ngModel)]="searchTerm"
    placeholder="Search Geekstack"
  />
  <div class="dropdown-container">
    <div
      class="custom-dropdown"
      [class.active]="isDropdownOpen"
      (click)="toggleDropdown()"
    >
      <div class="selected-option">
        <img [src]="selectedGame.icon" [alt]="selectedGame.name" />
      </div>
      <ul class="dropdown-options" (click)="$event.stopPropagation()">
        @for (game of games; track $index) {
        <li (click)="selectGame(game)" class="game-pt">
          <img [src]="game.icon" [alt]="game.name" />
          <span>{{game.label}}</span>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
<div class="clear-btn" [ngClass]="{showClear:searchTerm, dontShowClear:!searchTerm}" (click)="handleClearSearch()">
  clear
</div>
