<div class="tab-component">
  <div class="tab-button-holder">
    <div class="toggled" [ngClass]="{ tab2Selected: isTab2 }"></div>
    <div class="tab-button" (click)="onClickTab1()">
      <mat-icon>notes</mat-icon>
    </div>
    <div class="tab-button" (click)="onClickTab2()">
      <mat-icon>favorite</mat-icon>
    </div>
  </div>
  <div class="tab-content-holder">
    <div class="tab-content" [ngClass]="{ active: isTab1 }">
      <app-leftstack [userpost]="leftUserpost" [user]="user"></app-leftstack>
      <app-rightstack [userpost]="rightUserpost" [user]="user"></app-rightstack>
    </div>
    <div class="tab-content" [ngClass]="{ active: isTab2 }">
      <app-leftstack [userpost]="leftLiked" [user]="user"></app-leftstack>
      <app-rightstack [userpost]="rightLiked" [user]="user"></app-rightstack>
    </div>
  </div>
</div>
