<div class="bottom-nav">
  @for (bottom of bottoms; track $index) {
  <div
    class="bottom-nav-icon"
    [routerLink]="bottom.path !== '/deckbuilder' ? bottom.path : null"
    routerLinkActive="active"
    (click)="onBottomNavClick(bottom)"
  >
    <img
      [src]="bottom.src"
      [alt]="bottom.alt"
      [ngClass]="{ 'grey-scale': !isActive(bottom.path) }"
    />
  </div>
  }
</div>
@if (showDeckBuilderOptions) {
<div class="overlay" (click)="closeOptions()">
</div>
}
<div
  class="card-game-option"
  [ngClass]="{ 'slide-in': showDeckBuilderOptions,'slide-out': isAnimatingOut}"
  (animationend)="onAnimationDone($event)"
>
  @for (item of games; track $index) {
  <div>
    <img src="{{ item.icon }}" (click)="selectCardGame(item.value)"/>
  </div>
  }
</div>
