<div class="bottom-nav">
  @for (bottom of bottoms; track $index) {
  <div
    class="bottom-nav-icon"
    [routerLink]="bottom.path !== '/deckbuilder' ? bottom.path : null"
    routerLinkActive="active"
    (click)="onBottomNavClick(bottom)"
  >
    <img
      [src]="bottom.src"
      [alt]="bottom.alt"
      [ngClass]="{ 'grey-scale': !isActive(bottom.path) }"
    />
  </div>
  }
</div>

<div
  class="card-game-option"
  [ngClass]="{ 'slide-in-1': showDeckBuilderOptions, 'slide-neutral':!showDeckBuilderOptions }"
  (click)="selectCardGame('unionarena')"
>
  <img src="/images/ua.jpg" alt="Union Arena" />
</div>
<div
  class="card-game-option"
  [ngClass]="{ 'slide-in-2': showDeckBuilderOptions, 'slide-neutral':!showDeckBuilderOptions }"
  (click)="selectCardGame('onepiece')"
>
  <img src="/images/opc.jpg" alt="One Piece" />
</div>
<div
  class="card-game-option"
  [ngClass]="{ 'slide-in-3': showDeckBuilderOptions, 'slide-neutral':!showDeckBuilderOptions }"
  (click)="selectCardGame('cookierunbraverse')"
>
  <img src="/images/crb.jpg" alt="Cookie Run" />
</div>
<div
  class="card-game-option"
  [ngClass]="{ 'slide-in-4': showDeckBuilderOptions, 'slide-neutral':!showDeckBuilderOptions }"
  (click)="selectCardGame('dragonballzfw')"
>
  <img src="/images/dbzfw.jpg" alt="Dragon Ball Z FW" />
</div>
