.bottom-nav {
    display: flex;
    justify-content: space-evenly;
    height: 64px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(16,20,24);
    border-top: 0.5px solid #29333e;
    box-shadow:none;
    color: white;
    font-family: Roboto,sans-serif;
    align-items: center;
    position: fixed;  
    z-index: 5;
    bottom: 0;
    left: 0;
    width:100%;
  }

.bottom-nav-icon img{
    width: 30px;
    transition: filter 0.3s ease-in-out;
}

.grey-scale {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.card-game-option {
  position: absolute;
  width: calc(100% - 20px);
  height: 250px;
  overflow: hidden;
  bottom:-250px;
  left: 0;
  z-index: 100;
  padding-left:10px;
  padding-right:10px;
  background-color: #29333e;
  border-radius: 10px 10px 0px 0px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap:5px;
  justify-content: start;
  align-items: center;
  animation: slideOut 0.4s ease forwards;
  transition: bottom 0.5s ease-in-out, transform 0.5s ease-in-out,display 0.5s ease-in-out;
}

.card-game-option div {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}


.card-game-option img {
  width: 80px;
  height: 60px;
}

.slide-in {
  display: flex;
  animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0%;
    transform: translateY(0);
  }
  to {
    opacity: 100%;
    transform: translateY(-250px);
  }
}

@keyframes slideOut {
  from {
    opacity: 100%;
    transform: translateY(-250px);
  }
  to {
    opacity: 0%;
    transform: translateY(0);
  }
}


