<h2>Error Report</h2>
<div class="dialog-content">
  <form [formGroup]="errorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="errorMessage">{{data.message}}</label>
      <textarea
        id="errorMessage"
        class="form-control"
        formControlName="errorMessage"
        required
        placeholder="Describe the error..."
      ></textarea>
      @if (errorForm.get('errorMessage')?.invalid &&
      (errorForm.get('errorMessage')?.dirty ||
      errorForm.get('errorMessage')?.touched)) {
      <div class="error-message">Please describe the error</div>
      }
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button type="button" class="btn btn-cancel" (click)="onCancel()">
    Cancel
  </button>
  <button
    type="submit"
    class="btn btn-submit"
    (click)="onSubmit()"
    [disabled]="!errorForm.valid"
  >
    Submit
  </button>
</div>
