.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.user-image {
  border-radius: 60px;
  border: 2px solid #7c4fff;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.user-image img {
  width: 100%;
}
.user-name {
  width: 250px;
  padding: 10px;
  border-radius: 6px;
  background-color: #26262d;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.user-name input {
  background-color: #26262d;
  font-size: 20px;
  border: none;
  width: 210px;
  caret-color: #f2f3f8;
  color: #f2f3f8;
  text-decoration: none;
}
.user-name input:focus-visible {
  outline: none;
}
.user-name input:disabled {
  opacity: 1 !important; /* Override Safari's default grayed-out look */
  -webkit-text-fill-color: #b4b4b4 !important;
}

.user-name input::selection {
  background-color: #121212;
  color: #7c4fff;
}

.user-name mat-icon {
  font-size: 17px;
  display: flex;
  color: #465362;
  justify-content: center;
  align-items: center;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}
.edit-buttons div {
  background-color: #f2f3f8;
  width: 40px;
  border-radius: 7px;
  padding: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}

app-tab-content{
  width: 100%;
}