<div>
  <!-- Hide navbar for specific routes -->
  @if (!shouldHideNavbar() && !isRegisterRoute()) {
    <app-navbar></app-navbar>
  }

  <div class="window">
    <!-- Hide navigation tabs for specific routes -->
    @if (!isSmallScreen && !isRegisterRoute()) {
      <ng-container>
        <app-navigation-tabs></app-navigation-tabs>
      </ng-container>
    }

    <div class="router-outlet">
      <router-outlet></router-outlet>

      <!-- Hide PWA padding for specific routes -->
      @if (!isPwa && !isRegisterRoute()) {
        <div class="pwa-padding"></div>
      }
    </div>

    <!-- Hide bottom navigation for specific routes -->
    @if (isSmallScreen && !isRegisterRoute()) {
      <ng-container>
        <app-bottom-nav></app-bottom-nav>
      </ng-container>
    }
  </div>
</div>