<div class="buffer" (click)="onCloseModal()" >
</div>
<div class="card-effect-holder">
  <div class="table-scroll">
    @if (getCardType() === "unionarena") {
    <div class="image-container">
      <img
        class="modal-img"
        [src]="getUnionArenaCard()?.urlimage"
        (click)="onClickZoomIn()"
      />
    </div>
    <table class="card-table">
      <tr>
        <td>Name:</td>
        <td>{{ getUnionArenaCard()?.cardName }}</td>
      </tr>
      <tr>
        <td>Id:</td>
        <td>{{ getUnionArenaCard()?.cardId }}</td>
      </tr>
      <tr>
        <td>Traits:</td>
        <td>{{ getUnionArenaCard()?.traits }}</td>
      </tr>
      <tr>
        <td>Effect:</td>
        <td>
          @for (line of getUnionArenaCard()?.effect?.split('\\n');let i =
          $index; track $index) {
          <ng-container>
            <span
              class="tcg-text"
              [innerHTML]="replaceTagsWithIcons(line)"
            ></span>
            @if (i !== getUnionArenaCard()?.effect?.split('\\n')!.length - 1) {
            <br />
            }
          </ng-container>
          }
        </td>
      </tr>
    </table>
    }
  </div>
  @if (isZoomIn) {
  <div class="zoom-overlay" (click)="onClickZoomIn()">
    <img [src]="getUnionArenaCard()?.urlimage" class="zoomed-image" />
  </div>
  }
  <a class="close-btn" (click)="onCloseModal()">X</a>
</div>
