<div class="buffer" (click)="onCloseModal()"></div>
<div class="card-effect-holder">
  <div class="table-scroll">
    @switch (getCardType()) { 
      @case (TCGTYPE.UNIONARENA) {
    <div class="image-container">
      <img
        class="modal-img"
        [src]="getUnionArenaCard()?.urlimage"
        (click)="onClickZoomIn()"
      />
    </div>
    <table class="card-table">
      <tr>
        <td>Name:</td>
        <td>{{ getUnionArenaCard()?.cardName }}</td>
      </tr>
      <tr>
        <td>Id:</td>
        <td>{{ getUnionArenaCard()?.cardId }}</td>
      </tr>
      <tr>
        <td>Traits:</td>
        <td>{{ getUnionArenaCard()?.traits }}</td>
      </tr>
      <tr>
        <td>Effect:</td>
        <td>
          @for (line of getUnionArenaCard()?.effect?.split('\\n');let i =
          $index; track $index) {
          <ng-container>
            <span
              class="tcg-text"
              [innerHTML]="replaceTagsWithIcons(line)"
            ></span>
            @if (i !== getUnionArenaCard()?.effect?.split('\\n')!.length - 1) {
            <br />
            }
          </ng-container>
          }
        </td>
      </tr>
    </table>
    } @case (TCGTYPE.ONEPIECE) {
    <div class="image-container">
      <img
        class="modal-img"
        [src]="getOnePieceCard()?.urlimage"
        (click)="onClickZoomIn()"
      />
    </div>
    <table class="card-table">
      <tr>
        <td>Name:</td>
        <td>{{ getOnePieceCard()?.cardName }}</td>
      </tr>
      <tr>
        <td>Id:</td>
        <td>{{ getOnePieceCard()?.cardId }}</td>
      </tr>
      <tr>
        <td>Type:</td>
        <td>{{ getOnePieceCard()?.typing }}</td>
      </tr>
      <tr>
        <td>Effect:</td>
        <td>
          @for (line of getOnePieceCard()?.effects;let i = $index; track $index)
          {
          <ng-container>
            <span
              class="tcg-text"
              [innerHTML]="replaceTagsWithIcons(line)"
            ></span>
          </ng-container>
          }
        </td>
      </tr>
    </table>
    } @case (TCGTYPE.COOKIERUN) {
    <div class="zoom-overlay" (click)="onCloseModal()">
      <img [src]="getCookieRunCard()?.urlimage" class="zoomed-image" />
    </div>
    } @case (TCGTYPE.DUELMASTERS) {
    <div class="image-container">
      <img
        class="modal-img"
        [src]="getDuelmastersCard()?.urlimage"
        (click)="onClickZoomIn()"
      />
    </div>
    <table class="card-table">
      <tr>
        <td>Name:</td>
        <td>{{ getDuelmastersCard()?.cardName }}</td>
      </tr>
      <tr>
        <td>Id:</td>
        <td>{{ getDuelmastersCard()?.cardUid }}</td>
      </tr>
      <tr>
        <td>Type:</td>
        <td>{{ getDuelmastersCard()?.type }}</td>
      </tr>
      <tr>
        <td>Effect:</td>
        <td>
          @for (line of getDuelmastersCard()?.effects?.split('\\n');let i =
          $index; track $index) {
          <ng-container>
            <span
              class="tcg-text"
              [innerHTML]="replaceTagsWithIcons(line)"
            ></span>
            @if (i !== getDuelmastersCard()?.effects?.split('\\n')!.length - 1)
            {
            <br />
            }
          </ng-container>
          }
        </td>
      </tr>
    </table>
    } @case (TCGTYPE.DRAGONBALLZFW) {
    <div class="image-container">
      <img
        class="modal-img"
        [src]="getDragonBallZCard()?.urlimage"
        (click)="onClickZoomIn()"
      />
    </div>
    <table class="card-table">
      <tr>
        <td>Name:</td>
        <td>{{ getDragonBallZCard()?.cardName }}</td>
      </tr>
      <tr>
        <td>Id:</td>
        <td>{{ getDragonBallZCard()?.cardUid }}</td>
      </tr>
      <tr>
        <td>Type:</td>
        <td>{{ getDragonBallZCard()?.features }}</td>
      </tr>
      <tr>
        <td>Effect:</td>
        <td>
          @for (line of getDragonBallZCard()?.effects?.split('\\n');let i =
          $index; track $index) {
          <ng-container>
            <span
              class="tcg-text"
              [innerHTML]="replaceTagsWithIcons(line)"
            ></span>
            @if (i !== getDragonBallZCard()?.effects?.split('\\n')!.length - 1)
            {
            <br />
            }
          </ng-container>
          }
        </td>
      </tr>
    </table>
    } @case (TCGTYPE.HOLOLIVE) {
    <div class="image-container">
      <img
        class="modal-img"
        [src]="getHololiveCard()?.urlimage"
        (click)="onClickZoomIn()"
      />
    </div>
    <table class="card-table">
      <tr>
        <td>Name:</td>
        <td>{{ getHololiveCard()?.cardName }}</td>
      </tr>
      <tr>
        <td>Id:</td>
        <td>{{ getHololiveCard()?.cardId }}</td>
      </tr>
      <tr>
        <td>Type:</td>
        <td>{{ getHololiveCard()?.cardType }}</td>
      </tr>
      @if(getHololiveCard()?.keyword){
        <tr>
          <td>Keyword:</td>
          <td>
            @for (line of getHololiveCard()?.keyword?.split('\n');let i = $index; track $index) {
            <ng-container>
              <span
                class="tcg-text"
                [innerHTML]="replaceTagsWithIcons(line)"
              ></span>
              @if (i !== getHololiveCard()?.keyword?.split('\n')!.length - 1) {
                <br />
                }
            </ng-container>
            }
          </td>
        </tr>
        }
      @if(getHololiveCard()?.skill){
      <tr>
        <td>Skill:</td>
        <td>
          @for (line of getHololiveCard()?.skill;let i = $index; track $index) {
          <ng-container>
            <span
              class="tcg-text"
              [innerHTML]="replaceTagsWithIcons(line)"
            ></span>
          </ng-container>
          }
        </td>
      </tr>
      } @if(getHololiveCard()?.spArts){
      <tr>
        <td>Sp Arts:</td>
        <td>
          @for (line of getHololiveCard()?.spArts;let i = $index; track $index)
          {
          <ng-container>
            <span
              class="tcg-text"
              [innerHTML]="replaceTagsWithIcons(line)"
            ></span>
          </ng-container>
          }
        </td>
      </tr>
      } @if(getHololiveCard()?.spSkill){
      <tr>
        <td>Sp Arts:</td>
        <td>
          @for (line of getHololiveCard()?.spSkill;let i = $index; track $index)
          {
          <ng-container>
            <span
              class="tcg-text"
              [innerHTML]="replaceTagsWithIcons(line)"
            ></span>
          </ng-container>
          }
        </td>
      </tr>
      }
    </table>
    } }

    <div class="error-btn" (click)="openErrorDialog()">
      <mat-icon>error</mat-icon>
    </div>
  </div>
  @if(isZoomIn){
    @switch (getCardType()) {
      @case (TCGTYPE.UNIONARENA) {
      <div class="zoom-overlay" (click)="onClickZoomIn()">
        <img [src]="getUnionArenaCard()?.urlimage" class="zoomed-image" />
      </div>
      } @case (TCGTYPE.ONEPIECE) {
      <div class="zoom-overlay" (click)="onClickZoomIn()">
        <img [src]="getOnePieceCard()?.urlimage" class="zoomed-image" />
      </div>
      } @case (TCGTYPE.DUELMASTERS) {
      <div class="zoom-overlay" (click)="onClickZoomIn()">
        <img [src]="getDuelmastersCard()?.urlimage" class="zoomed-image" />
      </div>
      } @case (TCGTYPE.HOLOLIVE) {
        <div class="zoom-overlay" (click)="onClickZoomIn()">
          <img [src]="getHololiveCard()?.urlimage" class="zoomed-image" />
        </div>
        }
    }
  }
  <a class="close-btn" (click)="onCloseModal()">X</a>
</div>
